<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>statisticServer</contextName>
    <!-- 声明变量 -->
    <property name="log.filename" value="statisticServer"/>
    <property name="APP_HOME" value="/data/apps"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] |-%-5level in %logger{80}-%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_HOME}/statisticServer/logs/${log.filename}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] |-%-5level in %logger{80}-%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_HOME}/statisticServer/logs/${log.filename}.error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] |-%-5level in %logger{80}-%line - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="cn.ibabygroup" level="info"/>
    <logger name="javax.activation" level="ERROR"/>
    <logger name="javax.mail" level="ERROR"/>
    <logger name="javax.xml.bind" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="com.codahale.metrics" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>
    <logger name="com.netflix.discovery" level="ERROR"/>
    <logger name="com.ryantenney" level="ERROR"/>
    <logger name="com.sun" level="ERROR"/>
    <logger name="com.zaxxer" level="ERROR"/>
    <logger name="io.undertow" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.cache" level="ERROR"/>
    <logger name="org.springframework.context" level="ERROR"/>
    <logger name="org.thymeleaf" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="sun.rmi" level="ERROR"/>
    <logger name="sun.rmi.transport" level="ERROR"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="ERROR" />
    </root>
</configuration>